<p>segundo-component works!</p>
<h2>Aprendendo com JS</h2>
<p> Nome: {{ nome1 | uppercase }}</p><!--interpolação de texto, para passar nome da classe pra tela html-->
<!--usei o PAIPI   |  para mudar algumas caracteristicas do meu texto para formatar os textos que aparecem na tela... link para mais detalhes https://gasparbarancelli.com/post/transformando-dados-usando-pipes#:~:text=Segue%20uma%20lista%20com%20alguns%20dos%20Pipes%20fornecidos,LowerCasePipe%3A%20Transforma%20todos%20caracteres%20do%20texto%20para%20min%C3%BAsculo.-->

<p>Data de Nascimento: {{ dataNascimento | date: "dd/MM/yyyy" }}</p>