<p>exemplo-servicos3 works!</p>
<P>Este exeplo se refere aos exeplos de serviços 1 e 2 feito de maneira que o mercado pede, usaando o service CLI do angular</P><br>
<label for="nome55"> Digite seu nome: </label>
<input type="text" [(ngModel)]="nome55"><br>
<button type="button" (click)="adcionarNome55"> Adcionar nome </button>
<p> </p>
<label for="descricao33"> Digite sua descrição: </label>
<input type="text" [(ngModel)]="descricao33"><br>
<button type="button" (click)="adcionarDescricao33()"> Adcionar descrição </button>