<app-primeirocomponente></app-primeirocomponente> <!--esse nome vem da minha pasta primeiroComponent, de dentro do arquivo primeiroComponent.component.ts no atributo seletor-->
<app-segundo-component></app-segundo-component>

<app-pipe-customizado></app-pipe-customizado>


<app-two-way-data-binding></app-two-way-data-binding>

<app-trabalhando-listas></app-trabalhando-listas>

<app-componente-personalizado nomee="dhoy" sobrenomee="rodrigues alves"></app-componente-personalizado> <!--usando um decorador de componentes no componnte-personalizado-->
<app-componente-personalizado nomee="maria" sobrenomee="rodrigues ALVES"></app-componente-personalizado> <!--aqui que eu passo as propriedades diferentes para meus componentes nomee e sobrenomee diferentes-->


<app-componente-pai></app-componente-pai>



<app-exemplo-sercicos1></app-exemplo-sercicos1>
<app-exemplo-servicos2></app-exemplo-servicos2>
<app-exemplo-servicos3></app-exemplo-servicos3>
